.App {
  text-align: center;
}
.todoBtn {
  width: 42.5%;
  margin: 0.5rem;
  background: lightslategrey;
  border: none;
  border-radius: 0.5rem;
}
.todoBtn:hover {
  background-color: gainsboro;
}
.completed {
  text-decoration: line-through;
  background-color: gray;
}