.App {
  text-align: center;
  /* margin: 0 auto; */
  /* border: 1px dashed green;
  display: flex;
  flex-direction: column;
  align-items: center; */
}
/* .list {
  border: 1px dashed blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.botContainer {
  display: flex;
  border: 1px dashed red;
  justify-content: center; 
  width: 100%;
  margin: 1rem; 
}
.todo {
  border: 1px dashed orange;
  width: 50rem;
} */
input {
  /* width: 55%; */
  height: 1.5rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.33rem;
}
button {
  font-size: 1.33rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
button:hover {
  cursor: pointer;
}
button:active {
  transform: translateY(0.25rem);
}
button:focus {
  outline: none;
}
.todoBtn {
  width: 42.5%;
  /* width: 30rem; */
  margin: 0.5rem;
  background: lightslategrey;
  /* color: white; */
}
.todoBtn:hover {
  background-color: gainsboro;
}
.completed {
  text-decoration: line-through;
  background-color: gray;
}
.addBtn, .clearBtn {
  padding: 0.75rem;
  color: white;
}
.addBtn {
  background-color: darkgreen;
}
.addBtn:hover {
  background-color: green;
}
.clearBtn {
  background-color: darkred;
}
.clearBtn:hover {
  background-color: red;
}
.importantBtn {
  font-size: 2rem;
  padding: 1rem;
  background-color: gray;
}
.important {
  background-color: orange; 
}